body {
    background-color: var(--theme-bg-primary) !important;
    margin: 0 !important;;
    font-family: var(--font-body) !important;
    overflow: hidden;
    color: var(--theme-text-primary);
  }
  ::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: var(--theme-scrollbar-bg); /* Track background */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--theme-primary); /* Scrollbar color */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--theme-primary-dark); /* Darker shade on hover */
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-primary) var(--theme-scrollbar-bg);
  }

  /* Responsive Layout Styles */
  @media (max-width: 1200px) {
    .app-container {
      font-size: 14px;
    }
  }

  @media (max-width: 900px) {
    .app-container {
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    .app-container {
      font-size: 12px;
    }
  }

  @media (max-width: 600px) {
    .app-container {
      font-size: 11px;
    }
  }
