/* css/Sidebar.css */

.sidebar {
   
    transition: width 0.3s ease-in-out;
    background-color: #f8f9fa;
    color: #333;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 83vh;
    /* margin-bottom: 10px; */
  }
 
  .sidebar__toggle-button {
    background-color: #BB4F28;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 10px;
  }
  
  .sidebar__menu {
    width: 90%;
  }
  
  .sidebar__menu-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #A0AEC0;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #fff;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .sidebar__menu-item--selected {
    color: black;
    border: 2px solid rgb(250, 170, 141);
    background-color: white;
  }
  
  .sidebar__icon-container {
    background-color: #feeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-right: 7px;
    color: #BB4F28;
  }
  
  .sidebar__menu-item--selected .sidebar__icon-container {
    background-color: #BB4F28;
    color: #fff;
  }
  
  .sidebar__icon {
    font-size: 14px;
  }
  
  .sidebar__label {
    font-size: 13px;
    white-space: nowrap;
  }
  
  .sidebar__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
  
  .sidebar__logo {
    width: 90px;
    margin-bottom: 10px;
  }
  
  .sidebar__buy-nuts-button {
    background-color: #BB4F28;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    /* padding: 15px 20px; */
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 576px) {
    .sidebar__buy-nuts-button {
      padding: 10px 10px;

    }
    .sidebar__footer{
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 768px) {
    
    .sidebar__buy-nuts-button {
      padding: 10px 10px;
      font-weight: 600;
      /* width: auto; */
    }
  }